<% @requests_from_user.each do |request| %>
  <ul><li class='request'><%= space.name %>, <%= space.description %>, £<%= space.price %> per night <a href=/spaces/<%= space.id %>> [View this space]</a></li></ul>
<% end %>


<form action='/requests'  method='post'>
<h1> Request for 

From: User

Date: 01/01/2022

No. of Spaces Booked:
</h1>

<u>Other Requests for this Space:</u> <br>
  <textarea name='space_request' rows="4" cols="50">
  </textarea>


  <input type='submit' value='Confirm Request to Book'>

  <input type='submit' value='Deny Request to Book'> 
</form>
