<div class='head'>
  <ul>
    <li>
      <a href='/'><button>Sign Up</button></a>
    </li>
    <li>
      <a href='/about'><button>About</button></a>
    </li>
  </ul>
</div>

<h1 class='logo'> MAKERS<br>BnB </h1>

<br>

<h1> About </h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales, urna id semper pellentesque, ante enim aliquam metus, quis euismod magna arcu auctor diam. Nullam at lorem ac sapien aliquet vulputate eget eget augue. Fusce dictum metus ante, aliquet elementum diam hendrerit a. Nam non ligula magna. Vivamus vitae dui ac lectus molestie sagittis at id lacus. Aliquam sollicitudin suscipit ipsum, faucibus ornare ante porta eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vel purus sem. Proin dapibus molestie magna, a condimentum mauris mattis vitae. Morbi suscipit aliquet nunc. Donec in scelerisque lectus.
<br><br>
Phasellus nec velit in urna consectetur convallis. Nunc placerat accumsan efficitur. Sed aliquet lectus vitae urna efficitur ultricies. Morbi luctus sit amet ex sed luctus. Quisque velit enim, tempus dignissim efficitur eget, vehicula ut quam. Sed pellentesque ornare elit, id maximus ante aliquam vitae. Pellentesque sagittis est magna, vel mollis neque interdum vel. Etiam ut eleifend sem, in vestibulum dolor. Ut sit amet nulla sit amet nulla vestibulum pulvinar et pharetra nisi. Sed nunc diam, venenatis eu malesuada id, blandit at ipsum. Vestibulum facilisis sit amet nisl non venenatis. Nam in neque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sed tellus ac est euismod feugiat quis vel ligula. Suspendisse non rutrum diam.
<br><br>
Proin ac quam nec mi placerat ornare. Nulla venenatis ullamcorper tellus, non ornare lectus maximus eget. Phasellus lobortis vestibulum placerat. Praesent sed justo leo. Morbi viverra, nisl id mattis molestie, magna neque rutrum felis, quis finibus risus diam eu magna. Ut a ornare nisi. Vestibulum ac orci augue. Sed efficitur nisl accumsan, mollis lectus id, iaculis dolor. Donec ultricies mollis ante, sed ultrices nibh ullamcorper sed. Ut dui nisl, vestibulum ut massa a, gravida mattis sem. In semper scelerisque nibh, id dapibus elit eleifend id. Proin quis imperdiet metus. Praesent venenatis quam blandit, interdum nisi et, bibendum nisi. Vivamus id nisi eu erat maximus hendrerit. Nullam ultrices sit amet mauris id auctor. Vestibulum quis risus dapibus, eleifend neque eget, suscipit tellus.
</p>