<h3>
  <%= flash[:notice] %>
</h3>

<form action='/sessions/new' method='get'>
   <input type='submit' value='Sign In'>
</form>
<h1>Makers BnB</h1>
<h1><u>Join Makers BnB</u></h1>


<form action='/users' method='POST'>
<p><u>Name:</u><br>
  <input type='text' name='name'/>
  </p>

<p><u>Username:</u><br>
  <input type='text' name='username'/>
  </p>

<p><u>Email:</u><br>
  <input type='text' name='email'/>
</p>

<p><u>Password:</u><br>
  <input type='password' name='password'/>
</p>

  <input type='submit' value='Join'>
</form>
