<div class='head'>
  <ul>
    <li>
      <a href='/sessions/new'><button>Sign In</button></a>
    </li>
    <li>
    <a href='/about'><button>About</button></a>
    </li>
  </ul>
</div>


<div class='logo'>

<img src="Makers_Logo.png" width="120" height ="60" align="left">

</div>

<br>

<h1><u>Join Makers BnB</u></h1>

<form action='/users' method='POST'>
<p><u>Name:</u><br>
  <input type='text' name='name'/>
  </p>

<p><u>Username:</u><br>
  <input type='text' name='username'/>
  </p>

<p><u>Email:</u><br>
  <input type='text' name='email'/>
</p>

<p><u>Password:</u><br>
  <input type='password' name='password'/>
</p>

<p><u>Confirm Password:</u><br>
  <input type='password' name='password2'/>
</p>

  <input type='submit' value='Join'>
</form>

<h3>
  <%= flash[:notice] %>
</h3>
