<%= @space.name %>, <%= @space.description %>, £<%= @space.price %> per night<br><br>
Pick a date to book <br><br>
<% if @user %>
  <form action=<%= "/requests/#{@space.id}" %> method='post'>
    <input type='date' name='date'><br><br>
    <input type='submit' value='Request to Book'>
  </form>
<% end %>

<% unless @user %>
Sign In or Sign Up to Request Booking
<form action='/' method='get'>
  <input type='submit' value='Sign Up'>
</form>
<form action='/sessions/new' method='get'>
  <input type='submit' value='Sign In'>
</form>
<% end %>
