<% @spaces.each do |space| %>
  <ul><li class='space'><%= space.name %>, <%= space.description %>, £<%= space.price %> per night <a href=/spaces/<%= space.id %>> [View this space]</a></li></ul>
<% end %>
<br><br>
<form action='/spaces/new' method='GET'>
  <input type='submit' value='Add space'>
</form>
