<h1><u>List a new Space</u></h1>

<form action='/spaces/new' method='POST'>
<u>Name:</u><br>
  <input type='text' name='space_name'/>

<u>Description:</u> <br>
  <textarea name='space_description' rows="4" cols="50">
  </textarea>

<u>Price:</u><br>
  <input type='text' name='space_price' />

  <input type='submit' value='List space'>
</form>
