<h1><u>List a new Space</u></h1>

<form action='/spaces/new' method='POST'>
<u>Name:</u><br>
  <input type='text' name='space_name'/>
<br>

<u>Description:</u> <br>
  <textarea name='space_description' rows="4" cols="50">
  </textarea>
<br>

<u>Price:</u><br>
  <input type='text' name='space_price' />

<u>Available From:</u><br>
  <input type='date' name='start_date' />

<u>Available To:</u><br>
  <input type='date' name='end_date' />

  <input type='submit' value='List space'>
</form>
